*~
*.backup
*.bak
**/build
**/.bundle
crash.*.log
crash.log
*.dll
.DS_Store
.envrc
example.tf
*.exe
.idea
*.iml
*.iml
*.log
modules-dev/
*_override.tf
override.tf
*_override.tf.json
override.tf.json
*.save
/.secrets/*
secrets.*
.*.swp
.terraform/
/.terraform/*
.terraform.lock.hcl
terraform-provider-google
terraform-provider-yandex
.terraformrc
terraform.rc
terraform.tfplan
terraform.tfstate
terraform.tfvars
*.test
*.tfstate
*.tfstate.*
./*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
**/.vagrant
.vagrant/
.vscode
jdauphant.nginx
vault.key
*.retry
