cloud_id                 = "b1g9fdhgmccr92931idh"
folder_id                = "b1g0da3u1gqk0nansi59"
zone                     = "ru-central1-a"
app_image_id             = "fd82kuluc04013sbe22g"
db_image_id              = "fd8ndf64j3jukuq3pdct"
public_key_path          = "~/.ssh/id_rsa-appuser.pub"
private_key_path         = "~/.ssh/id_rsa-appuser"
subnet_id                = "e9bi9oji8ljojstbt6cp"
service_account_key_file = "../../key.json"
instance_count           = 1
