{
  "key_file": "../../key.json",
  "scripts_folder": "scripts",
  "folder_id": "b1g0da3u1gqk0nansi59",
  "subnet_id": "e9bi9oji8ljojstbt6cp",
  "platform_id": "standard-v1",
  "ssh_user": "ubuntu",
  "ssh_key": "~/.ssh/id_rsa-appuser.pub"
}
